@model IEnumerable<AppEmpreza.Entidades.Cargo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="#" class="btn btn btn-outline-primary" id="openCreateModal"><i class="bi bi-plus-circle" style="color:#3B71CA"></i> Crear</a>
</p>
<div class="table-responsive">
    <table class="table table-dark">
        <thead class="thead-dark text-center">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>
                        <div class="btn-group-sm-5" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary cargar"><i class="bi bi-pencil-square" style="color:#3B71CA"></i> Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success cargar"><i class="bi bi-book-fill" style="color:#14A44D"></i> Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger cargar"><i class="bi bi-trash" style="color:#DC4C64"></i> Borrar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-primary" role="alert">
        @successMessage
    </div>
}
<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <!-- El contenido del modal se cargará aquí -->
        </div>
    </div>
</div>
<div id="loading" style="display: none;">
    <p>Cargando...</p>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#openCreateModal').on('click', function () {
                $('#loading').show(); // Mostrar el indicador de carga

                $.get('@Url.Action("Create", "Cargo")', function (data) {
                    $('#modal-container .modal-content').html(data);
                    $('#modal-container').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });
                    $('#modal-container').modal('show');

                    $('#loading').hide(); // Ocultar el indicador de carga
                });
            });
        });
        $(document).ready(function () {
            $('.cargar').on('click', function () {
                $('#loading').show(); // Mostrar el indicador de carga

                // Aquí va tu código para editar, mostrar detalles o borrar

                $('#loading').hide(); // Ocultar el indicador de carga
            });
        });
    </script>
}
