@model AppEmpreza.Entidades.Empleados

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimietno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimietno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comisiono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comisiono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartamentoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartamentoId)
        </dd>
    </dl>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <form asp-action="Delete" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este elemento?');">
                    <button type="submit" class="btn btn-danger btn-block"><i class="bi bi-trash"></i> Eliminar</button>
                </form>
            </div>
            <div class="col-md-4">
                <a asp-action="Index" class="btn btn-secondary btn-block"><i class="bi bi-arrow-90deg-left"></i> Volver a la Lista</a>
            </div>
        </div>
    </div>
</div>
